.container{
    width: 100%;
    /* margin-left: 10vw;
    margin-right: 10vw; */
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 12vh;

  }

  .leftContainer{
    width: 65%;
    /* background: white; */
  }

  .multi {
    color: rgb(255, 64, 129);
  }

  .convinLink{
    text-decoration: underline
  }

  .wrapperContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: aquamarine; */
  }

  .rightContainer{
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width:1000px) {
    .wrapperContainer{
      flex-direction: column-reverse;
    }
    .rightContainer{
        width: 100%;
    }
    .leftContainer{
        width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    .tagline{
      font-size: 3rem;
    }
  }
